.kilpailija-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
  }
  
  .kilpailija-item {
    text-align: center;
    color: var(--main-text);
  }

  a{
    text-align: center;
    color: var(--main-text);
  }